<html>

<head>

</head>

<body bgcolor="yellow">
<h1>LOTTO</h1><br/>
<div>
    Typuj swoje liczby(od 1 do 49):<br/>
    <input type="text" id="1" value="Podaj liczbe.">
    <input type="text" id="2" value="Podaj liczbe.">
    <input type="text" id="3" value="Podaj liczbe.">
    <input type="text" id="4" value="Podaj liczbe.">
    <input type="text" id="5" value="Podaj liczbe.">
    <input type="text" id="6" value="Podaj liczbe.">
    <input type="submit" id="typuj" value="Typuj">
    <br/>
    <div id="typ"></div>
</div>
<div>
    <br/><br/>
    Aby rozpoczac losowanie przycisnij przycisk losuj...<br/><br/>
    <input type="submit" id="button" value="Losuj!">
    <br/>
    <br/>
    <div id="start"></div>
</div>
<div>
    <br/>Wynik<br/>
    <input type="submit" id="trafienia" value="Sprawdz wynik.">
</div>
<div id="wynik"></div>
<script type="text/javascript">

    function IsElementNumeric(ElementID) {
        var valueToCheck = document.getElementById(ElementID).value;
        if (typeof(valueToCheck) == "number") {
            return valueToCheck;
        } else {
            alert("Wprowadz liczbe");
        }

    }


    document.getElementById(" typuj").onclick = function typ() {
        var typowanie = new Array[7];
        typowanie[0] = IsElementNumeric("0");
        typowanie = new Array(document.getElementById("1").value, document.getElementById("2").value, document.getElementById("3").value, document.getElementById("4").value, document.getElementById("5").value, document.getElementById("6").value);
        document.getElementById("typ").innerHTML = "Twoje liczby to: " + typowanie[0] + " | " + typowanie[1] + " | " + typowanie[2] + " | " + typowanie[3] + " | " + typowanie[4] + " | " + typowanie[5];
    }
    document.getElementById("button").onclick = function los() {
        var losowanie = new Array(Math.round(Math.random() * 48) + 1, Math.round(Math.random() * 48) + 1, Math.round(Math.random() * 48) + 1, Math.round(Math.random() * 48) + 1, Math.round(Math.random() * 48) + 1, Math.round(Math.random() * 48) + 1)
        for (var c = 0; c < 6; c++) {
            for (var b = 0; b < 6; b++) {
                if (losowanie[c] == losowanie[b] & c != b) {
                    losowanie[b]++;
                }
                if (losowanie[c] == losowanie[b] & c != b & losowanie[c] == 42) {
                    losowanie[b] -= 48;
                }
            }
        }

        document.getElementById("start").innerHTML = losowanie[0] + " | " + losowanie[1] + " | " + losowanie[2] + " | " + losowanie[3] + " | " + losowanie[4] + " | " + losowanie[5];

    }


//sprawdzanie wyniku
    document.getElementById("trafienia").onclick = function text() {

        var wynik = 0;
        for (b = 0; b < 6; b++) {

            for (c = 0; c < 6; c++) {
                if (losowanie[b] == typowanie[c]) {
                    wynik++;
                }
            }

        }


        alert("Trafiles " + wynik + " liczb.");
    }
</script>

</body>
</html>