@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.js"></script>
    <script src="~/userlib/hljs/highlight.pack.js"></script>
    <script src="~/js/beautifiers.js"></script>
    <script src="~/js/razorHljs.js"></script>
    <link rel="stylesheet" href="~/userlib/hljs/styles/vs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <nav class="blue-grey darken-2">
        <div class="nav-wrapper">
            <a href="\" class="brand-logo">Programming blog</a>
            <ul class="right hide-on-small-only">
                <li>
                    <a href="/About" class="material-icons" title="About">assignment_ind</a>
                </li>
                <li>
                    <a href="projects.html" class="material-icons" title="Projects">view_module</a>
                </li>
                <li>
                    <a href="projects.html" class="material-icons" title="Blog">view_stream</a>
                </li>
            </ul>
        </div>
    </nav>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
