<button class="right" id="PlButton">PL</button>
<button class="right" id="EnButton">EN</button>
<div class="text-center text-primary">
    <h1>Curriculum Vitae</h1>
</div>

<div class="text-center">
    <h2 id="CVTitle">
        Młodszy programista C#
    </h2>
</div>
<div>
    <div class="text-left"></div>
    <img src="http://i.imgur.com/BFMJXVD.png?1" class="img-responsive img-thumbnail" onclick="ShakeMyPhoto.Shake(20)" id="myPhoto"/>
    <div class="text-right"
         onmouseover="AdressText.ChangeSpaceing(2, 20)"
         onmouseout="AdressText.ChangeSpaceing(-2, 20)"
         id="AdressText">

        <h3 id="CVAdress">
            Mateusz Popielarz<br/>
            Podkarpacie, Krosno<br/>
            +48 732 010 908<br/>
            popiel.mati@gmail.com
        </h3>
    </div>
</div>

<br/>
<div class="container jumbotron">
    <div class="text-center" style="color: orange;">
        <h2 id="CVTechnology">Technologie</h2>
        <br/>
    </div>
    <div class="col-xs-2">
        <img src="http://i.imgur.com/JEQJWZk.png" id="c3" class="img-responsive"
             onmouseover="c3Rotate.StartRotate(5, 20);"
             onmouseout="c3Rotate.StopRotate();"/>
    </div>

    <div class="col-xs-2">
        <img src="http://i.imgur.com/PZZa4gj.png" id="asp" class="img-responsive"
             onmouseover="aspRotate.StartRotate(5, 20)"
             onmouseout="aspRotate.StopRotate();"/>
    </div>

    <div class="col-xs-2">
        <img src="http://i.imgur.com/dMrJgfo.png" id="sql" class="img-responsive"
             onmouseover="sqlRotate.StartRotate(5, 20)"
             onmouseout="sqlRotate.StopRotate()"/>
    </div>
    <div class="col-xs-2">
        <img src="http://i.imgur.com/sZJzeLz.png" id="js" class="img-responsive"
             onmouseover="jsRotate.StartRotate(5, 20)"
             onmouseout="jsRotate.StopRotate()"/>
    </div>
    <div class="col-xs-1">
        <img src="http://i.imgur.com/IuuTGMB.png" id="ef" class="img-responsive"
             onmouseover="efRotate.StartRotate(5, 20)"
             onmouseout="efRotate.StopRotate()"/>
    </div>

    <div class="col-xs-1">
        <img src="http://i.imgur.com/SOAHkrx.png" id="wf" class="img-responsive"
             onmouseover="wfRotate.StartRotate(5, 20)"
             onmouseout="wfRotate.StopRotate()"/>
    </div>

    <div class="col-xs-1">
        <img src="http://i.imgur.com/ec3aHEo.png" id="wpf" class="img-responsive"
             onmouseover="wpfRotate.StartRotate(5, 20)"
             onmouseout="wpfRotate.StopRotate()"/>
    </div>

    <div class="col-xs-1">
        <img src="http://i.imgur.com/GdhpUGT.png" id="bs" class="img-responsive"
             onmouseover="bsRotate.StartRotate(5, 20)"
             onmouseout="bsRotate.StopRotate()"/>
    </div>
</div>
<div class="container">

    <img src="http://i.imgur.com/IXiwry6.png" id="englishCloud" class="img-responsive col-xs-6"
         data-toggle="tooltip" data-placement="right" title="Komunikatywny w mowie i w piśmie"/>

    <img data-toggle="tooltip" data-placement="right" title="Podstawowy
             " src="http://i.imgur.com/lw6ib5p.png" id="deutschCloud" class="img-responsive col-xs-3"/>
</div>


<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    //jQuerry
    var CVLanguage = function() {
        this.CVTitle = "";
        this.CVAdress = "";
        this.englishCloud = "";
        this.deutschCloud = "";
        this.CVTechnology = "";
    }

    CVLanguage.prototype.ChangeLanguage = function() {
        $("#CVAdress").html(this.CVAdress);
        $("#CVTitle").text(this.CVTitle);
        $("#englishCloud").attr("data-original-title", this.englishCloud);
        $("#deutschCloud").attr("data-original-title", this.deutschCloud);
        $("#CVTechnology").text(this.CVTechnology);

    };

    var PlCVLanguage = new CVLanguage();
    PlCVLanguage.CVTitle = "Młodszy programista C#";
    PlCVLanguage.CVAdress = "Mateusz Popielarz<br/>Podkarpacie, Krosno<br/>+48 732 010 908<br/>popiel.mati@gmail.com";
    PlCVLanguage.englishCloud = "Komunikatywny w mowie i w piśmie";
    PlCVLanguage.deutschCloud = "Podstawowy";
    PlCVLanguage.CVTechnology = "Technologie";

    var EngCVLanguage = new CVLanguage();
    EngCVLanguage.CVTitle = "Junior c# Developer";
    EngCVLanguage.CVAdress = "Matthew Popielarz<br/>Subcarpatian, Krosno<br/>+48 732 010 908<br/>popiel.mati@gmail.com";
    EngCVLanguage.englishCloud = "Communicative both in writing and speaking";
    EngCVLanguage.deutschCloud = "Basic knowledge";
    EngCVLanguage.CVTechnology = "Technologies";


    $('#EnButton').click(
        function() {
            EngCVLanguage.ChangeLanguage();
        }
    );

    $('#PlButton').click(
        function() {
            PlCVLanguage.ChangeLanguage();
        }
    );

</script>


<script>
    //Scripts has been designed by author of this webpage, Matthew Popielarz.
    var imgsInterval;

    function ShakeIt(elementId) {
        this.hook = document.getElementById(elementId);
        this.deg = 0;
        this.intervalHandler = null;
    }

    ShakeIt.prototype.Shake = function(degree) {
        this.deg = (this.deg + degree) % 360;
        this.hook.style.transform = "skew(-" + this.deg + "deg" + "," + this.deg + "deg)";
        this.hook.style.transform.skewY = this.deg + "deg";
    }

    function CanRotate(elementId) {
        this.hook = document.getElementById(elementId);
        this.deg = 0;
        this.intervalHandler = null;

    }

    CanRotate.prototype.rotateThis = function(deg) {
        this.deg = (this.deg + deg) % 360;
        this.hook.style.transform = "rotate(" + this.deg + "deg";
    }
    CanRotate.prototype.StartRotate = function(degree, perTime) {
        this.intervalHandler = setInterval(() => {
            this.rotateThis(degree);
        }, perTime);
    }

    CanRotate.prototype.StopRotate = function() {
        clearInterval(this.intervalHandler);
    }

    function CanWordSpace(elementId) {
        this.hook = document.getElementById(elementId);
        this.spaceing = 1;
        this.intervalHandler = null;

        this.spaceThis = function(space) {
            this.spaceing += space;
            if (this.spaceing < 1) {
                this.spaceing = 1;
            }
            this.hook.style.wordSpacing = this.spaceing + "px";
        }
    }

    CanWordSpace.prototype.ChangeSpaceing = function(space, perTime) {
        clearInterval(this.intervalHandler);
        this.intervalHandler = setInterval(() => {
            this.spaceThis(space);
        }, perTime);
    }

    var ShakeMyPhoto = new ShakeIt('myPhoto');
    var AdressText = new CanWordSpace('AdressText');

    var c3Rotate = new CanRotate('c3');
    var jsRotate = new CanRotate('js');
    var aspRotate = new CanRotate('asp');
    var sqlRotate = new CanRotate('sql');
    var efRotate = new CanRotate('ef');
    var wfRotate = new CanRotate('wf');
    var bsRotate = new CanRotate('bs');
    var wpfRotate = new CanRotate('wpf');
</script>