<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>CMS Strony</title>
</head>
<body>

<div>
    <div class="container ">
        <div class="well well-lg col-lg-3">
            <div class="text-center">
                <h3>Projekty</h3>
                @using (Html.BeginForm("AddProjectHelper", "Cms"))
                {
                    <input class="btn btn-danger" type="submit" value="Dodaj"/>
                }

                @using (Html.BeginForm("ProjectManager", "Cms"))
                {
                    <input class="btn btn-danger" type="submit" value="Modyfikuj lub usuń"/>
                }
            </div>
        </div>

        <div class="well well-lg col-lg-3">
            <div class="text-center">
                <h3>Blogi</h3>
                @using (Html.BeginForm("AddBlogHelper", "Blog"))
                {
                    <input class="btn btn-danger" type="submit" value="Dodaj"/>
                }

                @using (Html.BeginForm("BlogManagerResult", "Blog"))
                {
                    <input class="btn btn-danger" type="submit" value="Modyfikuj lub usuń"/>
                }
            </div>
        </div>
        <div class="well well-lg col-lg-3">
            <div class="text-center">
                <h3>Konta</h3>
                @using (Html.BeginForm("AddUserHelper", "Login"))
                {
                    <input class="btn btn-danger" type="submit" value="Dodaj"/>
                }

                @using (Html.BeginForm("ChangePasswordHelper", "Login"))
                {
                    <input class="btn btn-danger" type="submit" value="Zmień hasło"/>
                }

            </div>
        </div>

    </div>
</div>
</body>
</html>