<div class="container">
<h4>
    <br />    Początkujący programista przemierząjący szerokiego informacji oceanu.
    <br />  
    <br />  Ostatnio zainteresowany programowaniem obiektowym w C#, technologiami webowymi jak ASP.NET i tworzeniem aplikacji desktop WPF/WinForms
    <br />  To ja, Mateusz Popielarz :).
    <br />
    <br />  Uczeń III klasy technikum elektronicznego.
    <br />
    <br />  Znam także C, który był głównie używany na mikrokontrolerach AVR. 
    <br />
    <br />  
    <br /> Kontakt: popiel.mati@gmail.com
</h4>
</div>