
<div class="container">
    <h2>Pytanie</h2>
    <h4>Odpowiedź</h4>
    <h2>Czy to ostateczna wersja strony?</h2>
    <h4>Nie. Jest ona ciągle rozwijana</h4>
    <h2>Zrobisz mi taką?</h2>
    <h4>Mail jest podany na stronie "O mnie"</h4>
</div>


