<div class="col-md-6 col-md-offset-3">
    <h1>
        To nie są droidy których szukacie!
    </h1>
    <img src="http://4.bp.blogspot.com/-i02YOIlT4R4/UwpgsxV0YyI/AAAAAAAAAOU/-80B0U_DXLA/s1600/droids-youre-looking-for.jpg" class="img-responsive col-md-offset-1"/>
</div>