@using RoadToCode.Models.Blog
@model CreatePostViewModel
@{
    Layout = "";
}

<div class="card-panel hoverable" tag="@Model.Category">
    <div class="card-panel flex-text">
        <div class="card-panel">
            <div class="row">
                <h3 class="col s12 m8 center"><a href="/Blog/Post/@Model.NormalizedTitle">@Html.Raw(Model.Title)<a/></h3>
                <h6 class="col m4 hide-on-small-and-down">przez <a href="#">Pixela</a> <small>@Model.Added </small></h6>
            </div>
        </div>
        <div class="markdown">@Model.Content </div>
    </div>
</div>