<script>
    $(document).ready(function() {
        $(".container").html( beautifiers.convertMarkdown($(".container")));
    });
</script>
<div class="container">
    <div class="markdown">
# Yo :D

## I'm Pixel, I had coded since 2014. 

I started with c/c++ and Atmel Uc. I had been making small programs like buttons debounce, task planner, usb communication before i spotted that it is not what i wanna do.

A year later i find out that C# is great language and i started learning.

I'd made serveral projects, they are available at my <a href="https://github.com/pixellos">github</a>.

Last year i went to work and now i'm a back-end C# dev.

I know a bit about MSIL, i'm reading IL without any problems. Refleciton is my very good friend. I'm not afraid of PowerShell nor MSBuild. I'm trying to automatize my work.

Lastly i'm improving my JS skills. 
    </div>
</div>