@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<RoadToCode.Module.Projects.DAL.Project>

<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="http://cdn.tinymce.com/4/tinymce.min.js"></script>
<title>Save Project</title>

<div class="container-fluid">
    <div class="row-fluid">
        <h1><div class="text-center">Add new Post</div></h1>
        @if (ViewBag.ValidationError != null)
        {
            <div class="alert-error">
                <p>Error! @ViewBag.ValidationError</p>
            </div>
        }

        <form class="form-horizontal" method="POST" action="~/Project/Save">

            <div class="control-group">
                <div class="controls">
                    <textarea name="HtmlContent" data-val="true" id="HtmlContent" placeholder="Content">
                    </textarea>
                </div>
            </div>


            <div class="control-group">
                <div class="controls">
                    <input id="Id" data-val="true" type="hidden"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="Title">Title</label>
                <div class="controls">
                    <input type="text" data-val="true" name="Title" id="Title" placeholder="Title">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="ImageUrl">Image Url</label>
                <div class="controls">
                    <input type="text" data-val="true" name="ImageUrl" id="ImageUrl" placeholder="Title">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Register</button>
                </div>
            </div>
        </form>

    </div>
</div>