@model MyWebpage.Models.ViewModels.IUserInput

@{
    ViewBag.Title = "title";
}

<div>
    @using (
        Html.BeginForm("ChangePassword", "Login"))
    {
        <div>
            <h5>Nazwa użytkownika</h5>
            @Html.TextBoxFor(x => x.UserName, new {@class = "form-control"})
        </div>
        <div>
            <h5>Obecne hasło</h5>
            @Html.PasswordFor(x => x.Password, new {@class = "form-control"})
        </div>
        <div>
            <h5>Nowe hasło</h5>
            @Html.PasswordFor(x => x.Email, new {@class = "form-control"})
        </div>
        <input class="btn btn-default" type="submit" value="Zapisz"/>
    }
</div>