<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://popielarzmatthew.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>popielarzmatthew.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PopielarzMatthew</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$PopielarzMatthew</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MyWebpage.Entity.ArticlesContext" Order="1" Enabled="False">
          <Destination Path="&quot;Data Source=SQL5011.Smarterasp.net;Initial Catalog=DB_9D8EA4_towebpage;User Id=DB_9D8EA4_towebpage_admin;Password=DATA123456;&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWebpage.Entity.ArticlesContext, MyWebpage" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyWebpage.Entity.BlogPostsContext" Order="2" Enabled="False">
          <Destination Path="&quot;Data Source=SQL5011.Smarterasp.net;Initial Catalog=DB_9D8EA4_towebpage;User Id=DB_9D8EA4_towebpage_admin;Password=DATA123456;&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWebpage.Entity.BlogPostsContext, MyWebpage" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyWebpage.Entity.ProjectContext" Order="3" Enabled="False">
          <Destination Path="&quot;Data Source=SQL5011.Smarterasp.net;Initial Catalog=DB_9D8EA4_towebpage;User Id=DB_9D8EA4_towebpage_admin;Password=DATA123456;&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWebpage.Entity.ProjectContext, MyWebpage" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyWebpage.Entity.AccountContext" Order="4" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyWebpage.Entity.AccountContext, MyWebpage" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyWebpage.Entity.AccountContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyWebpage.Entity.ArticlesContext-Web.config Connection String">
      <ParameterValue>"Data Source=SQL5011.Smarterasp.net;Initial Catalog=DB_9D8EA4_towebpage;User Id=DB_9D8EA4_towebpage_admin;Password=DATA123456;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyWebpage.Entity.BlogPostsContext-Web.config Connection String">
      <ParameterValue>"Data Source=SQL5011.Smarterasp.net;Initial Catalog=DB_9D8EA4_towebpage;User Id=DB_9D8EA4_towebpage_admin;Password=DATA123456;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyWebpage.Entity.ProjectContext-Web.config Connection String">
      <ParameterValue>"Data Source=SQL5011.Smarterasp.net;Initial Catalog=DB_9D8EA4_towebpage;User Id=DB_9D8EA4_towebpage_admin;Password=DATA123456;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MyWebpage.Entity.AccountContext" />
    <_ConnectionStringsToInsert Include="MyWebpage.Entity.ArticlesContext" />
    <_ConnectionStringsToInsert Include="MyWebpage.Entity.BlogPostsContext" />
    <_ConnectionStringsToInsert Include="MyWebpage.Entity.ProjectContext" />
  </ItemGroup>
</Project>