@model MyWebpage.Abstract.IProjects




@{
    <div id="ProjectCarousel" class="carousel slide fill" data-ride="carousel1">


        <div class="carousel-inner" role="listbox">
            @foreach (var project in Model.ProjectsList)
            {
                <div @if (project.Id == "1")
                     {
                         @: class="item active"
                     }
                     else
                     {
                         @: class="item"
                     }>

                    <img src="@project.PhotoAdress" alt="" class="cover"/>
                    <div class="carousel-indicators">
                        <h1 style="color: red">@project.Name</h1>

                        <p> </p>
                    </div>

                </div>
            }
        </div>

        <a class="left carousel-control" href="#ProjectCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#ProjectCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}