@model MyWebpage.Abstract.IArticleSheet




<div class="container">

    <div class="row">
        <div class="text-center">
            <h1>@Model.Headline</h1>
        </div>
    </div>
    <div class="row">
        <p>@Html.Partial(("Articles/"+ Model.Article))</p>
    </div>

</div>