<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="callout large primary">
    <div class="row column text-center">
        <h1>Road to Code</h1>
        <h2 class="subheader">Strona Pixela o programowaniu i okolicach</h2>
    </div>
</div>

<div class="row medium-8 large-7 columns">
    <div class="blog-post">
        <img class="thumbnail" src="http://i.imgur.com/mQhNALc.jpg">
        
        <h3>
            Last project title <small>3/6/2016</small>
        </h3>
        <p>Last project Content</p>
    </div>
    <hr/>

    <div class="blog-post">
        <a href="~/Blog/">

            <img class="thumbnail" src="http://i.imgur.com/SrSBcMD.jpg">
        </a>
        <h3>
            Last post title <small>3/6/2016</small>
        </h3>
        <p>Post text ...</p>

    </div>
    <hr/>

    <div class="blog-post">
        <h3>
            Awesome blog post title <small>3/6/2016</small>
        </h3>
        <img class="thumbnail" src="http://i.imgur.com/OQ3TLAh.jpg">

    </div>

    <hr/>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
    $(document).foundation();
</script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
</body>

</html>